html
head
title my jade template
script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
script(type='text/javascript' src = '/assets/update.js')
body
p Enter data to update
form(method='post' id = 'updateForm')
	select(name='dropdown')
		option(value='' disabled='disabled' selected='selected') Select one
		option(value='id') By EmpID
		option(value='name') By Name
		option(value='salary') By Salary
	input(type='text' name='oldInput')
	input(type='button' value='UpdateBy' id = 'updateButton')
	input(type='text' name='newInput')

