<!DOCTYPE html>

<html>
    <head>
        <title>Just Play Scala</title>
    </head>
    <body>
    <form action="welcome" method="post">
        <h1>Employee Information Database</h1>
        <p>Pick any action</p></br>
        <input type="submit" name="Add" value='Add'><br>
    </form>
    <form action = "searchPage" method= "post">
        <input type="submit" name="Search" value="Search" style='margin-top:20px'><br>
    </form>
    <form action = "deletePage" method= "post">
        <input type="submit" name="Delete" value="Delete" style='margin-top:20px'><br>
    </form>
    <form method= "post">
        <input type="submit" name="Update" value="Update" style='margin-top:20px'><br>
    </form>
    </body>
</html>
